.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        img {
            width: 130px;
        }
    }

    &__user {
        display: flex;
        align-items: center;

        nz-badge {
            margin-right: 12px;
        }
    }
}

[nz-menu] {
    line-height: 64px;
}