.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo img {
        width: 130px;
    }
}

[nz-menu] {
    line-height: 64px;
}